.hero-main-container {
  position: relative;
  max-width: 1330.4px;
  height: 514.8px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
}

.hero-main-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 128.8px;
  width: 124.41px;
  background: url(./Hero1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
}
.hero-main-container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 223.4px;
  height: 183.55px;
  background: url(./Hero2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
}

.hero-container {
  position: relative;
  height: 417px;
  width: 1280px;
  background-color: var(--bg-light-green);
  border-radius: 0 150px 0 70px;
  margin-top: 78px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  gap: 17px;
  padding-left: 77px;
  max-width: 48ch;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.hero-text .heading-text {
  font-size: 67px;
  font-weight: 800;
  line-height: 81.67px;
}
.hero-text h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34.13px;
  text-wrap: nowrap;
}

.green {
  color: var(--clr-accent-400);
  font-weight: 900;
}

.hero-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 40ch;
}
.hero-text button {
  cursor: pointer;
  background-color: var(--bg-green);
  color: var(--clr-neutral-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  max-width: 116px;
  border: none;
  border-radius: 4px;
  padding: 14px 24px;
  margin-block: 14.38px;
}

.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 751px;
  height: 494px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}
.hero-image img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .hero-main-container {
    position: relative;
    width: 340.71px;
    display: flex;
  }

  .hero-main-container::after {
    height: 112.38px;
    width: 94.71px;
  }
  .hero-main-container::before {
    width: 46.03px;
    height: 46.46px;

    opacity: 0.42;

    z-index: -1;
  }

  .hero-container {
    width: 313px;
    height: 404px;
    background-color: var(--bg-light-green);
    border-radius: 0 63.59px 0 0;
    margin-block: auto;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-text {
    margin-block: 19px;
    height: 171.29px;
    gap: 11px;

    display: flex;
    flex-direction: column;
  }

  .hero-text .heading-text {
    font-size: 28px;
    font-weight: 800;
    line-height: 34.13px;
  }
  .hero-text h1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20.73px;
    text-wrap: nowrap;
  }

  .green {
    color: var(--clr-accent-400);
    font-weight: 900;
  }

  .hero-text p {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.41px;
    max-width: 40ch;
  }
  .hero-text button {
    cursor: pointer;
    background-color: var(--bg-green);
    color: var(--clr-neutral-100);
    font-size: 8.21px;
    font-weight: 500;
    line-height: 10.01px;

    border: none;
    border-radius: 2.05px;
    padding: 7.19px 12.32px;

    width: 59.55px;
    height: 24.37px;
  }

  .hero-image {
    width: 312px;
    height: 215px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    margin-top: 19px;
  }

  .hero-image img {
    width: 100%;
    display: block;
  }
}
