/* Center alignment and responsive adjustments */

.trust-container {
  background-color: #265230;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}

@media (min-width: 768px) {
  .trust-container {
    flex-direction: row;
    justify-content: center;
    padding: 50px 80px;
  }
}

.trust-first {
  width: 90%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .trust-first {
    height: 613px;
    background: url(./Trust.svg) center/cover no-repeat;
  }
}

.trust-last {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

@media (min-width: 768px) {
  .trust-last {
    grid-template-columns: 1fr 1fr;
  }
}

/* Adjust section margins */
.section {
  margin: 40px auto;
}

.why-trust-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.our-mission {
  padding: 20px;
  text-align: center;
}

.trust-card {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: -9.44px 10.62px 26.68px 0px #00000021;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trust-card > h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

.trust-card > p {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}

.trust-card > hr {
  width: 60px;
  border: 3px solid #55b76b;
}
