.mob {
  width: 100%;
  height: 534.19px;
  background: #002417;
}

.logo {
  padding: 25px 16px;
}

.mob-img {
  width: 155px;
  height: 45px;
  background: #ffffff;
  border-radius: 5.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-img img {
  width: 103.23px;
}

.accord {
  width: 100%;
  height: 48px;
  padding: 14px 26px 9px 15px;
  gap: 35px;
  background: #002417;
  color: #ffffff;
}
